<form method="post">
    <label asp-for="FullName"></label>
    <br />
    <input asp-for="FullName" />
    <br />
    <span asp-validation-for="FullName"></span>
    <label asp-for="Email"></label>
    <br />
    <input asp-for="Email" />
    <br />
    <span asp-validation-for="Email"></span>
    <button type="submit">Log in</button>
</form>
